body {
    background-color: aquamarine;
}
h1{
    border-bottom: 1px solid black;
}
form{
    padding: 10px;
}
#bt{
    background-color: aliceblue;
    padding: 5px;
    margin: 3px;
    box-shadow: 1px 1px 1px 1px;
}